
@{
    ViewBag.Title = "Me";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img src="~/picture/M.jpeg" width="200"height="300">
<h4>姓名：刘婷</h4>
<h4>年龄：20</h4>
<h4>性别：女</h4>
<h4>籍贯：安徽池州</h4>
<h4>星座：水瓶座</h4>
<h4>学历：本科</h4>
<h4>联系方式：178****2379</h4>
<h4>邮箱：1924487630@qq.com</h4>

<h4>外连网站:<a href="http://www.w3school.com.cn/ "> Learn More</a></h4>
<h4>内部页面:<a href="http://localhost:2818/Home/SUM"> * Arithmetic</a></h4>



